.logo, .logo2, .funkcamp {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
transform: scale(0.7);

@media screen and (max-width: '760px') {    
    transform: scale(0.6);
}
}

