.header {
    position: relative;
    height: 80px;
    background: silver;
    color: #121212;
    font-size: 2rem;
    z-index: 100;
    display: flex;
    align-items: center;

    h1 {
        color: #234557;
        cursor: pointer;
    }
}