.nav {
    position:absolute;
    width: 100%;
    height: 80px;
    display: block;
    background-color: transparent;
    
    .nav_menu {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        .nav_item {
            list-style-type: none;
            padding: 0 2rem;
            
            .nav_links {
                text-decoration: none;
                font-weight: 100;
                color: #f8f8f8;
                font-size: 1.2rem;
                text-transform: uppercase;
            }
        }
    }
}


